ENVIRONMENT=dev
PROJECT_NAME=movies
REDIS_HOST=redis
REDIS_PORT=6379
ELASTIC_HOST=elastic
ELASTIC_PORT=9200
API_HOST=api_server
API_PORT=8000
API_VERSION=v1
PERSON_INDEX=persons
GENRE_INDEX=genres
MOVIES_INDEX=movies
